body{
    background-color: rgb(250, 193, 87);
    font-family: Arial, Helvetica, sans-serif;
}
#Intro{
    font-size: large;
}
nav span{
    background: rgb(71, 71, 245);
    font-size: 25px;
    padding: 10px;
    margin-top: 10px;
    float: left;
}

nav span:hover{
    background: rgb(49, 49, 240);
    cursor: pointer;
}


.producto{
        text-align: center;
        float: left;
        width: 24%;
        background-color: rgb(71, 71, 245);
        margin-left: 5px;
        margin-bottom: 5px;
    }

@media screen and (max-width: 600px){
    .producto{
        text-align: center;
        float: left;
        width: 98%;
        background-color: rgb(71, 71, 245);
        margin-left: 5px;
        margin-bottom: 5px;
    }

}


.producto img{
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
}

#whats{
    position: fixed;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    width: 75px
}

#whats:hover{
    border-radius: 50%;
    width: 110px;
    cursor:pointer;
}